.profileContainer {
  text-align: center;
  max-width: 36rem;
  margin: 0 auto;
  min-height: calc(100vh - 10vw);
  padding-bottom: 3rem;
}

.profileHeader {
  margin-top: 6rem;
  padding: 0 2rem;

  &__img {
    width: 12rem;
    height: 12rem;
    margin: auto;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background-image: url("/imgs/account-default-w.png");
    background-repeat: no-repeat;
    background-size: cover; // lub contain albo np. 200px 200px
    background-position: center;
  }

  &__info {
    text-align: center;
    margin: 1em 0;
  }

  &__logoutBtn {
    margin: auto;
    grid-area: logout;
  }
}

.profileDetails {
  font-size: 1.6rem;
  text-align: left;
  margin-top: 8rem;
  margin-left: 10%;
  padding: 0 10%;

  & h3 {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }

  & p:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 768px) {
  .profileContainer {
    max-width: 60rem;
    margin: 10% auto 0 auto;
    height: calc(100vh - 10vw);
  }

  .profileHeader {
    display: grid;
    grid-template-areas:
      "img info"
      "img logout";

    &__img {
      grid-area: img;
      margin-right: 1rem;
    }

    &__info {
      text-align: left;
      grid-area: info;
      margin: 0;
      margin-left: 1em;
    }
  }

  .profileDetails {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }

  .editProfileBtn {
    margin-top: 3rem;
  }
}
