.editProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;

  &__img {
    width: 12rem;
    height: 12rem;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-bottom: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__rowsLayout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__avatarLabelContainer {
    align-self: center;
  }

  &__input {
    width: 25rem;

    &:focus {
      outline: 2px solid #007bff;
      outline-offset: 2px;
    }
  }

  &__btn {
    width: 14rem;
    border-radius: 14px;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 4rem;

    &.cancelEdit {
      margin-top: 1rem;
    }

    &:hover {
      background-color: #ffffff;
    }
  }

  &__upload,
  &__deleteAvatar {
    margin-top: 0;
  }

  &__error {
    color: #d9534f;
    background-color: #f9d6d5;
    padding: 0.5rem;
    border-radius: 6px;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  &__fileUpload--inputHidden {
    display: none;
  }

  &__upload {
    margin-bottom: 1rem;
  }
}

/////////////////////////////////////////
/// MEDIA QUERIES
@media (min-width: 768px) {
  .editProfile {
    margin-top: 6%;

    &__avatarLayout {
      display: grid;
      justify-items: center;
      grid-template-columns: auto auto;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "avatar btnUpload"
        "avatar btnDelete";
    }

    &__avatarLabelContainer {
      justify-self: center;
      grid-area: avatar;
      margin: 1rem;
    }

    &__avatarLabel {
      display: flex;
      justify-content: center;
    }

    &__img {
      margin: 0;
    }

    &__upload {
      margin-top: 2rem;
      grid-area: btnUpload;
    }

    &__deleteAvatar {
      grid-area: btnDelete;
    }
  }
}
